body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background:var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    padding: 2rem;
}

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --header-bg: #f8f9fa;
  --footer-bg: #f8f9fa;
  --primary-color: green;
  --secondary-color: #6c757d;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f8f9fa;
  --header-bg: #1a1a1a;
  --footer-bg: #1a1a1a;
  --primary-color: #00ff00;
  --secondary-color: #5a6268;
}

button.theme-icon {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 5px;
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-color);

}

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.text-box{
    background-color: rgba(0, 0, 0, 0.6); /* Black with 60% opacity */
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}
.flex-container{
    display: flex;
    justify-content: space-around;

}
div.gallery{
    border: 1px solid #ccc;

}

div.gallery:hover{
    border: 1px solid #777;
}

div.gallery img{
    width: 100%;
    height:auto;
}
div.desc{
    padding: 20px;
    text-align: center;

}
*{
    box-sizing: border-box;
}

.responsive{
    padding: 0 6px;
    float: left;
    width: 24.999%;
}

@media only screen and (max-width: 700px) {
    .responsive{
        width:49.99%;
        margin: 6px 0;
    }
}


@media only screen and (max-width: 500px) {
    .responsive{
        width:100%;
    }
}

.clearfix:after{
    content: "";
    display: table;
    clear:both
}


footer {
    margin-top:auto;
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
}
